<h1>{{judul}}</h1>
<p>Welcome to {{title}}</p>

<a href="voucher/upload">voucher</a>
<br>
<a href="viewvc/view_voucher">view voucher</a>
<br>
<a href="item">new item</a>
<br>
<a href="update_item">update item</a>
<br>
<a href="update_vouchers/update_voucher">update voucher</a>
<br>
<a href="feature">upload feature</a>
