<form action="/uploadvoucher" method="post" enctype="multipart/form-data">
        <fieldset>
            <legend name="header">Input Voucher</legend>
            <p>
                <label>Voucher Type</label>
                <select type="number" name="POS_Voucher_Type">
                    <option value = "2">Potongan</option>
                    <option value = "3">Pembayaran</option>
                </select>
            </p>
            <p>
                <label>Item Type</label>
                <select type="number" name="POS_All_Category_CB">
                    <option value = "0">Per Item</option>
                    <option value = "1">ALL Category</option>
                </select>
            </p>
            <p>
                <label>Desciption</label>
                <input type="text" name="POS_Description" placeholder="description" required>
            </p>
            <p>
                <label>Create Date</label>
                <input type="date" name="CREATDDT" />
            </p>
            <p>
                <label>Start Date</label>
                <input type="date" name="Released_Date" />
            </p>
            <p>
                <label>End Date</label>
                <input type="date" name="EXPNDATE" />
            </p>
            <p>
                <label>Select list</label>
                <select type="text" name = "POS_STORE_GROUP_ID">
                    <option value = "STORE GROUP ALL">ALL</option>
                    <option value = "STORE GROUP ALL1">ALL1</option>
                    <option value = "STORE GROUP ACS">ACS</option>
                    <option value = "LGN BDG CMD">ABC&CMD</option>
                    <option value = "STORE GROUP LOG IN">ABC</option>
                    <option value = "STORE GROUP LGN CMD">CMD</option>
                    <option value = "STORE GROUP MEDIUM">MDM</option>
                </select>
            </p>
            <p>
                <label>File: </label>
                <input type="file" name="filecsv" required>
            </p>
            <input type="submit" id="uploadvc">
        </fieldset>
    </form>