<form action="/viewvoucher" method="post" enctype="multipart/form-data">
    <fieldset>
        <legend name="header">View Voucher</legend>
            <p>
                <label>File: </label>
                <input type="file" name="filecsv" required>
            </p>
            <input type="submit" id="view">
    </fieldset>
</form>